<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificates</title>

  <!-- Libraries -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

  <!-- Custom Styles -->
   <link rel="stylesheet" href="../style.css">
</head>
<body id="body-project" class="light-mode">

  <!-- ===== Navbar ===== -->
  <header class="navbar navbar-expand-lg fixed-top">
    <div class="container justify-content-between">

      <img src="" class="img-fluid img-logo" alt="">

      <ul class="navbar-nav d-none d-lg-flex mx-auto text-uppercase">
        <li><a class="nav-link" href="../index.html">Home</a></li>
        <li><a class="nav-link" href="../index.html#about">About</a></li>
        <li><a class="nav-link" href="../index.html#services">Services</a></li>
        <li><a class="nav-link" href="../index.html#portfolio">Portfolio</a></li>
        <li><a class="nav-link" href="../index.html#skills">Skills</a></li>
        <li><a class="nav-link" href="../projects.html#contact">Contact</a></li>
      </ul>

      <div class="d-flex gap-2">
        <button id="themeToggle" class="icon-btn">
          <i class="fas fa-moon"></i>
        </button>
        <button id="mobileBtn" class="icon-btn d-lg-none">
          <i class="fas fa-bars"></i>
        </button>
      </div>

    </div>

    <!-- Mobile Menu -->
    <nav id="mobileMenu" class="mobile-menu text-uppercase">
      <button class="close-btn">&times;</button>
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#skills">Skills</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

<!-- certificates -->
<section id="certificates" class="cert-section">
  <div class="container">
    <header class="showcase-header" data-aos="fade-down">
      <h2>Certificates</h2>
      <p>Achievements that showcase my learning journey.</p>
    </header>

    <div class="cert-grid">

      <!-- Card 1 -->
    <div class="cert-card" data-aos="zoom-in">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/3.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Graphic Design Concepts</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

     <!-- Card 2 -->
    <div class="cert-card" data-aos="zoom-in">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img  src="../assets/images/Certificates/1.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Certificate Of participation</h4>
        <p>TEDx ShareNaw · 2025</p>
      </div>
    </div>

     <!-- Card 3 -->
    <div class="cert-card" data-aos="zoom-in">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/2.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Certificate Of participation</h4>
        <p>BHC.Afghanistan · 2025</p>
      </div>
    </div>

    
      <!-- Card 1 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="100">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/4.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Logo Trend</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

     <!-- Card 2 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="100">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img  src="../assets/images/Certificates/5.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Safeguarding Practice</h4>
        <p>disasterready.org · 2025</p>
      </div>
    </div>

      <!-- Card 1 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="200">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/7.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Project Management</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

     <!-- Card 2 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="200">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img  src="../assets/images/Certificates/8.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Visual comm for business</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

     <!-- Card 3 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="200">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/9.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Design Thinking</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

      <!-- Card 1 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="300">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/10.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Expressive Typography</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

     <!-- Card 2 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="300">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img  src="../assets/images/Certificates/11.PNG" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Certificat of Achievements</h4>
        <p>Andesha studio · 2024</p>
      </div>
    </div>

     <!-- Card 3 -->
    <div class="cert-card" data-aos="zoom-in" data-aos-delay="300">
        <div class="layer layer-back"></div>
        <div class="layer layer-mid"></div>
      <div class="layer-top">
        <img src="../assets/images/Certificates/12.jpg" alt="Adobe Photoshop" class="cert-img">
        <span class="capsule green">Verified</span>
        <h4>Launching Your Idea</h4>
        <p>LinkedIn · 2025</p>
      </div>
    </div>

  </div>
  </div>
</section>


<!-- Contact-->
<section id="contact" class="cta-section" data-aos="fade-down">
  <div class="cta-wrap">

    <h2>
      Let's talk about<br>
      the next big thing
    </h2>

    <div class="cta-buttons">
      <a href="https://wa.me/93731805985" class=" hero-btn">Write A Message</a>
      <a href="https://wa.me/93731805985" class="btn secondary">Discuss Project</a>
    </div>

<div class="cta-socials">
  <!-- WhatsApp -->
  <a class="social" href="https://wa.me/93731805985" target="_blank" aria-label="WhatsApp">
    <i class="fa-brands fa-whatsapp"></i>
    <div class="text">
      <span>WhatsApp</span>
      <small>+93 731805985</small>
    </div>
  </a>

  <div class="dot"></div>

  <!-- Email -->
  <a class="social" href="mailto:saifbabak007@gmail.com" target="_blank" aria-label="Email">
    <i class="fa-regular fa-envelope"></i>
    <div class="text">
      <span>Email</span>
      <small>saifbabak007@gmail.com</small>
    </div>
  </a>

  <div class="dot"></div>

  <!-- Behance -->
  <a class="social" href="https://www.behance.net/saifbabakhk" target="_blank" aria-label="Behance">
    <i class="fa-brands fa-behance"></i>
    <div class="text">
      <span>Behance</span>
      <small>@saifbabakhk</small>
    </div>
  </a>

  <div class="dot"></div>

  <!-- LinkedIn -->
  <a class="social" href="https://www.linkedin.com/in/saifullah-babakarkhill-5b492b209" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin-in"></i>
    <div class="text">
      <span>LinkedIn</span>
      <small>Saifullah Babakarkhil</small>
    </div>
  </a>
</div>

<!-- Footer -->
<div class="cta-footer">
  &copy; 2026 Saifullah Babakarkhil. All rights reserved.
</div>

  </div>
</section>



    <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script src="../app.js"></script>
</body>
</html>
